## Create new Candidate entity file
This new file must have 3 entities:

<ol>
<li>Candidates in GC</li>
<li>Candidates in CE</li>
<li>Candidates in GC & CE</li>
</ol>

In [24]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import venn2
%matplotlib inline

ImportError: cannot import name 'venn2'

In [16]:
# import files
df = pd.read_csv('./electionBot_sBox/entities/candidates-Entities_v5.csv')
df.head()

,entity,value,synonyms
0,Depute_e,PAGANI Rémy,rémy:pagani:Remy:pagani
1,Depute_e,WENGER Saliha,saliha:wenger:salika:saliha:wenger:Salika
2,Depute_e,ZAUGG Christian,christian:zaugg:zaug:zog:zogg:christian:zaugg:...
3,Depute_e,HALLER Jocelyne,jocelyne:haller:haler:Jocelyne:haller:haul
4,Depute_e,ENILINE Alexander,alexander:eniline:alexander:eniline

In [17]:
# rename column and add new column
df.rename(index=str, columns={"entity": "initialEntity"}, inplace=True)
df['entity'] = ''
df.head()

,initialEntity,value,synonyms,entity
0,Depute_e,PAGANI Rémy,rémy:pagani:Remy:pagani,
1,Depute_e,WENGER Saliha,saliha:wenger:salika:saliha:wenger:Salika,
2,Depute_e,ZAUGG Christian,christian:zaugg:zaug:zog:zogg:christian:zaugg:...,
3,Depute_e,HALLER Jocelyne,jocelyne:haller:haler:Jocelyne:haller:haul,
4,Depute_e,ENILINE Alexander,alexander:eniline:alexander:eniline,

In [18]:
df.tail()

,initialEntity,value,synonyms,entity
649,Conseiller_ere_d_Etat,ZACHARIAS Ronald,ronald:zacharias:ronald:zacharias,
650,Conseiller_ere_d_Etat,VIDONNE Thierry,thierry:vidonne:vidonne:thierry:Vidonne:Vidonne,
651,Conseiller_ere_d_Etat,LEITNER André,andré:leitner:leytner:andre:leitner:Leytner,
652,Conseiller_ere_d_Etat,FONTANA Jérôme,jérôme:fontana:Jerome:Fontana,
653,Conseiller_ere_d_Etat,AMSLER Susanne,susanne:amsler:susanne:amsler,

In [22]:
# create value for entity
CE = df[(df['initialEntity'] == 'Depute_e')]
GC = df[(df['initialEntity'] == 'Conseiller_ere_d_Etat')]

plt.figure(figsize=(4,4))
set1 = set(CE['value'])
set2 = set(GC['value'])

venn2([set1, set2], ('Set1', 'Set2'))
plt.show()

NameError: name 'venn2' is not defined

In [ ]:
# remove old column
df.drop(['initialEntity'], axis=1, inplace=True)
df.head()

In [ ]:
# export csv files
df.to_csv('./electionBot_sBox/entities/candidates-Entities_v6.csv',index=False)