### Extract column titles from JSON files for Data Dictionnary
Information needed to define intents in bot

In [53]:
# import libraries
import pandas as pd
import json
from pandas.io.json import json_normalize

In [46]:
# import files
df_CE_infosCandidat = pd.read_json('./DATA_format_JSON/CE/datas/2351/CE_infosCandidat.json')
df_CE_infosCandidat.head()

,fonction,id,liste,nom,photoUrl,sexe
0,Conseiller-ère d'Etat,20001,"{'id': 203, 'noDepot': 3}",WENGER Saliha (Salika),WENGER_Saliha.jpg,1
1,Conseiller-ère d'Etat,20002,"{'id': 203, 'noDepot': 3}",HALLER Jocelyne,HALLER_Jocelyne.jpg,1
2,Conseiller-ère d'Etat,20003,"{'id': 201, 'noDepot': 1}",EMERY-TORRACINTA Anne,EMERY-TORRACINTA_Anne.jpg,1
3,Conseiller-ère d'Etat,20004,"{'id': 201, 'noDepot': 1}",APOTHÉLOZ Thierry,APOTHELOZ_Thierry.jpg,0
4,Conseiller-ère d'Etat,20005,"{'id': 201, 'noDepot': 1}",SALERNO Sandrine,SALERNO_Sandrine.jpg,1

In [62]:
# import files
df_CE_infosListes = pd.read_json('./DATA_format_JSON/CE/datas/2351/CE_infosListes.json')
df_CE_infosListes.head()

    id  noDepot                  nom                         nomComplet sigle
0  201        1      LES SOCIALISTES                    LES SOCIALISTES   SOC
1  202        2            LES VERTS                          LES VERTS  VERT
2  203        3    ENSEMBLE À GAUCHE                  ENSEMBLE À GAUCHE   EAG
3  204        4                  MCG  MCG - MOUVEMENT CITOYENS GENEVOIS   MCG
4  205        5  PLR - PDC - ENTENTE                PLR - PDC - ENTENTE   ENT

In [66]:
# import files
# flatten nested json
with open('./DATA_format_JSON/CE/datas/2351/CE_Resultats_Candidat_20001.json') as f:
    d = json.load(f)
    
df_CE_Resultats_Candidat_20001 = json_normalize(d)
df_CE_Resultats_Candidat_20001.head()

,candidat.id,candidat.liste.id,candidat.liste.noDepot,etatAvancement,resultatsCandidatCanton.canton.id,resultatsCandidatCanton.canton.nom,resultatsCandidatCanton.egalite,resultatsCandidatCanton.elu,resultatsCandidatCanton.ordre,resultatsCandidatCanton.suffrages,resultatsCandidatParCommune
0,20001,203,3,Résultats définitifs du 26.02.18 à 15:32,0,Canton de Genève,False,0,21,568,"[{'commune': {'id': 1, 'nom': 'Aire-la-Ville'}..."

In [ ]:
# flatten a nested part of nested json
df_CE_Resultats_Candidat_20001 = json_normalize(d['resultatsCandidatParCommune'])
df_CE_Resultats_Candidat_20001.head()

In [13]:
# import files
#df_CE_Resultats_Canton = pd.read_json('./DATA_format_JSON/CE/datas/2351/CE_Resultats_Canton.json')
#df_CE_Resultats_Canton.head()

In [14]:
# import files
df_CE_Resultats_CartesSuffragesCandidat = pd.read_json('./DATA_format_JSON/CE/datas/2351/CE_Resultats_CartesSuffragesCandidat.json')
df_CE_Resultats_CartesSuffragesCandidat.head()

,candidat,carteSuffrageCandidat,pourcentSuffrageCantonal
0,"{'id': 20012, 'liste': {'id': 205, 'noDepot': 5}}","[{'local': {'id': 100, 'nom': 'Aire-la-Ville'}...",0.05625
1,"{'id': 20015, 'liste': {'id': 205, 'noDepot': 5}}","[{'local': {'id': 100, 'nom': 'Aire-la-Ville'}...",0.04755
2,"{'id': 20016, 'liste': {'id': 205, 'noDepot': 5}}","[{'local': {'id': 100, 'nom': 'Aire-la-Ville'}...",0.04413
3,"{'id': 20013, 'liste': {'id': 205, 'noDepot': 5}}","[{'local': {'id': 100, 'nom': 'Aire-la-Ville'}...",0.04379
4,"{'id': 20014, 'liste': {'id': 205, 'noDepot': 5}}","[{'local': {'id': 100, 'nom': 'Aire-la-Ville'}...",0.04360

In [16]:
# import files
#df_CE_Resultats_Commune_0100 = pd.read_json('./DATA_format_JSON/CE/datas/2351/CE_Resultats_Commune_0100.json')
#df_CE_Resultats_Commune_0100.head()

In [17]:
# import files
df_CE_Resultats_InfoAvancement = pd.read_json('./DATA_format_JSON/CE/datas/2351/CE_Resultats_InfoAvancement.json')
df_CE_Resultats_InfoAvancement.head()

,Avancement,Local
0,"{'etat': 8, 'texte': 'Résultats définitifs du ...","{'id': 100, 'nom': 'Aire-la-Ville'}"
1,"{'etat': 8, 'texte': 'Résultats définitifs du ...","{'id': 200, 'nom': 'Anières'}"
2,"{'etat': 8, 'texte': 'Résultats définitifs du ...","{'id': 300, 'nom': 'Avully'}"
3,"{'etat': 8, 'texte': 'Résultats définitifs du ...","{'id': 400, 'nom': 'Avusy'}"
4,"{'etat': 8, 'texte': 'Résultats définitifs du ...","{'id': 500, 'nom': 'Bardonnex'}"

In [19]:
# import files
#df_gevi_param = pd.read_json('./DATA_format_JSON/CE/datas/gevi_param.json')
#df_gevi_param.head()