## Compare candidate-entities_v1 vs candidate-entities_v3
candidate-entities_v3 includes some spelling mistakes added by Jean-Luc Favre to the synonyms column

In [1]:
# import libraries
import pandas as pd

In [11]:
# import files
df_v1 = pd.read_csv('../../electionBot_sBox/candidates-Entities.csv')
df_v3 = pd.read_csv('../../electionBot_sBox/candidates-Entities_v3.csv')

In [12]:
df_v1.head()

     entity              value              synonyms
0  Depute_e        PAGANI Rémy           Rémy:PAGANI
1  Depute_e      WENGER Saliha  Saliha:WENGER:Salika
2  Depute_e    ZAUGG Christian       Christian:ZAUGG
3  Depute_e    HALLER Jocelyne       Jocelyne:HALLER
4  Depute_e  ENILINE Alexander     Alexander:ENILINE

In [13]:
df_v3.head()

                               entity;value;synonyms
0                   Depute_e;PAGANI Rémy;Rémy:PAGANI
1        Depute_e;WENGER Saliha;Saliha:WENGER:Salika
2  Depute_e;ZAUGG Christian;Christian:ZAUGG:ZAUG:...
3     Depute_e;HALLER Jocelyne;Jocelyne:HALLER:HALER
4       Depute_e;ENILINE Alexander;Alexander:ENILINE

In [14]:
# reimport v3 with delimiter
df_v3 = pd.read_csv('../../electionBot_sBox/candidates-Entities_v3.csv', delimiter=';')

In [15]:
df_v3.head()

     entity              value                       synonyms
0  Depute_e        PAGANI Rémy                    Rémy:PAGANI
1  Depute_e      WENGER Saliha           Saliha:WENGER:Salika
2  Depute_e    ZAUGG Christian  Christian:ZAUGG:ZAUG:ZOG:ZOGG
3  Depute_e    HALLER Jocelyne          Jocelyne:HALLER:HALER
4  Depute_e  ENILINE Alexander              Alexander:ENILINE

In [16]:
df_v1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 654 entries, 0 to 653
Data columns (total 3 columns):
entity      654 non-null object
value       654 non-null object
synonyms    654 non-null object
dtypes: object(3)
memory usage: 15.4+ KB

In [17]:
df_v3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 654 entries, 0 to 653
Data columns (total 3 columns):
entity      654 non-null object
value       654 non-null object
synonyms    654 non-null object
dtypes: object(3)
memory usage: 15.4+ KB

In [19]:
# rexport v3 with correct format
df_v3.to_csv('../../electionBot_sBox/candidates-Entities_v3_edt.csv',index=False)