### Notebook to convert json to csv
The aim of this notebook is to convert json files into csv, to then extract values and save to another csv for import into Oracle chatbot platform.

In [242]:
# imports
import pandas as pd
CE_candidats_src = pd.read_json('../CE/datas/2351/CE_infosCandidat.json')
CE_candidats_src.head()

,fonction,id,liste,nom,photoUrl,sexe
0,Conseiller-ère d'Etat,20001,"{'id': 203, 'noDepot': 3}",WENGER Saliha (Salika),WENGER_Saliha.jpg,1
1,Conseiller-ère d'Etat,20002,"{'id': 203, 'noDepot': 3}",HALLER Jocelyne,HALLER_Jocelyne.jpg,1
2,Conseiller-ère d'Etat,20003,"{'id': 201, 'noDepot': 1}",EMERY-TORRACINTA Anne,EMERY-TORRACINTA_Anne.jpg,1
3,Conseiller-ère d'Etat,20004,"{'id': 201, 'noDepot': 1}",APOTHÉLOZ Thierry,APOTHELOZ_Thierry.jpg,0
4,Conseiller-ère d'Etat,20005,"{'id': 201, 'noDepot': 1}",SALERNO Sandrine,SALERNO_Sandrine.jpg,1

In [243]:
# edit dataframe to extract required info
# Entities format: entity,value,synonyms
df = CE_candidats_src.drop(['id', 'liste', 'photoUrl','sexe'], axis=1)
df.head()

                fonction                     nom
0  Conseiller-ère d'Etat  WENGER Saliha (Salika)
1  Conseiller-ère d'Etat         HALLER Jocelyne
2  Conseiller-ère d'Etat   EMERY-TORRACINTA Anne
3  Conseiller-ère d'Etat       APOTHÉLOZ Thierry
4  Conseiller-ère d'Etat        SALERNO Sandrine

In [244]:
# add default synonyms column
df['synonyms'] = df['nom']
df.head()

                fonction                     nom                synonyms
0  Conseiller-ère d'Etat  WENGER Saliha (Salika)  WENGER Saliha (Salika)
1  Conseiller-ère d'Etat         HALLER Jocelyne         HALLER Jocelyne
2  Conseiller-ère d'Etat   EMERY-TORRACINTA Anne   EMERY-TORRACINTA Anne
3  Conseiller-ère d'Etat       APOTHÉLOZ Thierry       APOTHÉLOZ Thierry
4  Conseiller-ère d'Etat        SALERNO Sandrine        SALERNO Sandrine

In [247]:
# rename columns
df.rename(index=str, columns={"fonction": "entity", "nom": "value"}, inplace=True)
df.head()

                  entity                   value                synonyms
0  Conseiller-ère d'Etat  WENGER Saliha (Salika)  WENGER Saliha (Salika)
1  Conseiller-ère d'Etat         HALLER Jocelyne         HALLER Jocelyne
2  Conseiller-ère d'Etat   EMERY-TORRACINTA Anne   EMERY-TORRACINTA Anne
3  Conseiller-ère d'Etat       APOTHÉLOZ Thierry       APOTHÉLOZ Thierry
4  Conseiller-ère d'Etat        SALERNO Sandrine        SALERNO Sandrine

In [252]:
df.synonyms = df.synonyms.str.lower();
df.synonyms.str.replace('(','');
df.synonyms.str.replace(')','');

#df.synonyms.str.replace(')', '')

In [253]:
df.synonyms

0           WENGER Saliha (Salika)
1                  HALLER Jocelyne
2            EMERY-TORRACINTA Anne
3                APOTHÉLOZ Thierry
4                 SALERNO Sandrine
5                  HODGERS Antonio
6            DE CHASTONAY Marjorie
7                      ROCHAT Yvan
8                     POGGIA Mauro
9                   ROCH Ana Belen
10                 SORMANNI Daniel
11                   MAUDET Pierre
12                 DAL BUSCO Serge
13                  BARTHASSAT Luc
14               FONTANET Nathalie
15         DE SENARCLENS Alexandre
16                   AMBERGER Axel
17              BURGERMEISTER Jean
18                   NIDEGGER Yves
19                    BLÄSI Thomas
20                 FLOREY Stéphane
21                   STAUFFER Eric
22                ZACHARIAS Ronald
23                  CRETEGNY Willy
24    AYMON Paul (dit Paul Sierre)
25                   ORSINI Magali
26                 GAUTHIER Pierre
27                 VIDONNE Thierry
28                   LEITNER André
29                  FONTANA Jérôme
30                  AMSLER Susanne
Name: synonyms, dtype: object

In [4]:
# export to csv
df.to_csv('./candidates-Entities.csv')