## Compare Data frames
Comparing Sample data provided and data obtained during API tests on Mar27

In [49]:
# import libraries
import pandas as pd
import numpy as np

In [50]:
# import API TEST files - only GC files
df_infosCandidats = pd.read_json('../DATA_format_JSON/GC/datas/2353/GC_infosCandidat.json')
#df_infosListes = pd.read_json('./GC_infosListes.json')

#df_ResultatsCanton = pd.read_json('./GC_Resultats_Canton.json')
#ValueError: arrays must all be same length

#df_ResultatsInfoAvancement = pd.read_json('./GC_Resultats_InfoAvancement.json')

#df_gevi_param = pd.read_json('./gevi_param.json')
#ValueError: If using all scalar values, you must pass an index

In [51]:
# import API TEST files - only GC files
df_infosCandidats_test = pd.read_json('./GC_infosCandidat.json')
df_infosListes_test = pd.read_json('./GC_infosListes.json')

#df_ResultatsCanton_test = pd.read_json('./GC_Resultats_Canton.json')
#ValueError: arrays must all be same length

df_ResultatsInfoAvancement_test = pd.read_json('./GC_Resultats_InfoAvancement.json')

#df_gevi_param_test = pd.read_json('./gevi_param.json')
#ValueError: If using all scalar values, you must pass an index

In [52]:
# check file imports
df_infosCandidats_test.head()

,fonction,id,liste,nom,photoUrl,sexe
0,Député-e,10001,"{'id': 101, 'noDepot': 1}",PAGANI Rémy,PAGANI_Remy.jpg,0
1,Député-e,10002,"{'id': 101, 'noDepot': 1}",WENGER Saliha (Salika),WENGER_Saliha.jpg,1
2,Député-e,10003,"{'id': 101, 'noDepot': 1}",ZAUGG Christian,ZAUGG_Christian.jpg,0
3,Député-e,10004,"{'id': 101, 'noDepot': 1}",HALLER Jocelyne,HALLER_Jocelyne.jpg,1
4,Député-e,10005,"{'id': 103, 'noDepot': 3}",EMERY-TORRACINTA Anne,EMERY-TORRACINTA_Anne.jpg,1

In [53]:
df_infosListes_test.head()

    id  noDepot                 nom                         nomComplet sigle
0  101        1   ENSEMBLE À GAUCHE                  ENSEMBLE À GAUCHE   EAG
1  102        2           LES VERTS                          LES VERTS  VERT
2  103        3     LES SOCIALISTES                    LES SOCIALISTES   SOC
3  104        4   LIBÉRAUX-RADICAUX  PLR. LES LIBÉRAUX-RADICAUX GENÈVE   PLR
4  105        5  DÉMOCRATE-CHRÉTIEN     PARTI DÉMOCRATE-CHRÉTIEN (PDC)   PDC

In [54]:
df_ResultatsInfoAvancement_test.head()

,Avancement,Local
0,"{'etat': 6, 'texte': 'Résultats anticipés du 2...","{'id': 200, 'nom': 'Anières'}"
1,"{'etat': 6, 'texte': 'Résultats anticipés du 2...","{'id': 1201, 'nom': 'Chêne-Bougeries-Centre'}"
2,"{'etat': 6, 'texte': 'Résultats anticipés du 2...","{'id': 1202, 'nom': 'Conches'}"
3,"{'etat': 6, 'texte': 'Résultats anticipés du 2...","{'id': 4600, 'nom': 'Suisses de l'étranger'}"

In [55]:
# compare files
df_infosCandidats_test.equals(df_infosCandidats)

False

In [56]:
df_infosCandidats_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 623 entries, 0 to 622
Data columns (total 6 columns):
fonction    623 non-null object
id          623 non-null int64
liste       623 non-null object
nom         623 non-null object
photoUrl    623 non-null object
sexe        623 non-null int64
dtypes: int64(2), object(4)
memory usage: 34.1+ KB

In [57]:
df_infosCandidats.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 623 entries, 0 to 622
Data columns (total 6 columns):
fonction    623 non-null object
id          623 non-null int64
liste       623 non-null object
nom         623 non-null object
photoUrl    623 non-null object
sexe        623 non-null int64
dtypes: int64(2), object(4)
memory usage: 34.1+ KB

In [105]:
# test comparison, source: https://goo.gl/ejz3kQ
df_all = pd.concat([df_infosCandidats.set_index('id')
                    , df_infosCandidats_test.set_index('id')]
                   , axis='columns'
                   , keys=['First', 'Second'])
df_all.head()

          First                                                     \
       fonction                      liste                     nom
id
10001  Député-e  {'id': 101, 'noDepot': 1}             PAGANI Rémy
10002  Député-e  {'id': 101, 'noDepot': 1}  WENGER Saliha (Salika)
10003  Député-e  {'id': 101, 'noDepot': 1}         ZAUGG Christian
10004  Député-e  {'id': 101, 'noDepot': 1}         HALLER Jocelyne
10005  Député-e  {'id': 103, 'noDepot': 3}   EMERY-TORRACINTA Anne

                                         Second                             \
                        photoUrl sexe  fonction                      liste
id
10001            PAGANI_Remy.jpg    0  Député-e  {'id': 101, 'noDepot': 1}
10002          WENGER_Saliha.jpg    1  Député-e  {'id': 101, 'noDepot': 1}
10003        ZAUGG_Christian.jpg    0  Député-e  {'id': 101, 'noDepot': 1}
10004        HALLER_Jocelyne.jpg    1  Député-e  {'id': 101, 'noDepot': 1}
10005  EMERY-TORRACINTA_Anne.jpg    1  Député-e  {'id': 103, 'noDepot': 3}


                          nom                   photoUrl sexe
id
10001             PAGANI Rémy            PAGANI_Remy.jpg    0
10002  WENGER Saliha (Salika)          WENGER_Saliha.jpg    1
10003         ZAUGG Christian        ZAUGG_Christian.jpg    0
10004         HALLER Jocelyne        HALLER_Jocelyne.jpg    1
10005   EMERY-TORRACINTA Anne  EMERY-TORRACINTA_Anne.jpg    1

In [106]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 623 entries, 10001 to 10623
Data columns (total 10 columns):
(First, fonction)     623 non-null object
(First, liste)        623 non-null object
(First, nom)          623 non-null object
(First, photoUrl)     623 non-null object
(First, sexe)         623 non-null int64
(Second, fonction)    623 non-null object
(Second, liste)       623 non-null object
(Second, nom)         623 non-null object
(Second, photoUrl)    623 non-null object
(Second, sexe)        623 non-null int64
dtypes: int64(2), object(8)
memory usage: 53.5+ KB

In [107]:
# reorder columns
cols = [('First', 'fonction'), ('Second', 'fonction'), ('First', 'liste'), ('Second', 'liste')
        , ('First', 'nom'), ('Second', 'nom'),('First', 'photoUrl'),('Second', 'photoUrl')
        , ('First', 'sexe'),('Second', 'sexe')]
df_reorder = df_all[cols]
df_reorder.head()

,First,Second,First,Second,First,Second,First,Second,First,Second
,fonction,fonction,liste,liste,nom,nom,photoUrl,photoUrl,sexe,sexe
id,,,,,,,,,,
10001,Député-e,Député-e,"{'id': 101, 'noDepot': 1}","{'id': 101, 'noDepot': 1}",PAGANI Rémy,PAGANI Rémy,PAGANI_Remy.jpg,PAGANI_Remy.jpg,0,0
10002,Député-e,Député-e,"{'id': 101, 'noDepot': 1}","{'id': 101, 'noDepot': 1}",WENGER Saliha (Salika),WENGER Saliha (Salika),WENGER_Saliha.jpg,WENGER_Saliha.jpg,1,1
10003,Député-e,Député-e,"{'id': 101, 'noDepot': 1}","{'id': 101, 'noDepot': 1}",ZAUGG Christian,ZAUGG Christian,ZAUGG_Christian.jpg,ZAUGG_Christian.jpg,0,0
10004,Député-e,Député-e,"{'id': 101, 'noDepot': 1}","{'id': 101, 'noDepot': 1}",HALLER Jocelyne,HALLER Jocelyne,HALLER_Jocelyne.jpg,HALLER_Jocelyne.jpg,1,1
10005,Député-e,Député-e,"{'id': 103, 'noDepot': 3}","{'id': 103, 'noDepot': 3}",EMERY-TORRACINTA Anne,EMERY-TORRACINTA Anne,EMERY-TORRACINTA_Anne.jpg,EMERY-TORRACINTA_Anne.jpg,1,1

In [102]:
def highlight_diff(data, color='yellow'):
    attr = 'background-color: {}'.format(color)
    other = data.xs('First', axis='columns', level=-1)
    return pd.DataFrame(np.where(data.ne(other, level=0), attr, ''),
                        index=data.index, columns=data.columns)

df_reorder.style.apply(highlight_diff, axis=None)

KeyError: 'First'