### Notebook to convert json to csv
The aim of this notebook is to convert json files into csv, to then extract values and save to another csv for import into Oracle chatbot platform.

In [1]:
# imports
import pandas as pd
CE_candidats_src = pd.read_json('../CE/datas/2351/CE_infosCandidat.json')
CE_candidats_src.head()

,fonction,id,liste,nom,photoUrl,sexe
0,Conseiller-ère d'Etat,20001,"{'id': 203, 'noDepot': 3}",WENGER Saliha (Salika),WENGER_Saliha.jpg,1
1,Conseiller-ère d'Etat,20002,"{'id': 203, 'noDepot': 3}",HALLER Jocelyne,HALLER_Jocelyne.jpg,1
2,Conseiller-ère d'Etat,20003,"{'id': 201, 'noDepot': 1}",EMERY-TORRACINTA Anne,EMERY-TORRACINTA_Anne.jpg,1
3,Conseiller-ère d'Etat,20004,"{'id': 201, 'noDepot': 1}",APOTHÉLOZ Thierry,APOTHELOZ_Thierry.jpg,0
4,Conseiller-ère d'Etat,20005,"{'id': 201, 'noDepot': 1}",SALERNO Sandrine,SALERNO_Sandrine.jpg,1

In [25]:
# edit dataframe to extract required info
# Entities format: entity,value,synonyms

candidates_Entities = 
candidates_Entities.head()

                    col1                    col2                        col3
0  Conseiller-ère d'Etat  wenger saliha (salika)  [wenger, saliha, (salika)]

In [18]:
# rename columns
candidates_Entities.columns = ['entity','value','synonyms']
candidates_Entities.head()

                  entity                   value  synonyms
0  Conseiller-ère d'Etat  WENGER Saliha (Salika)         1

In [4]:
# export to csv
candidates_Entities.to_csv('./candidates-Entities.csv')

In [ ]:
words = “This is random text we’re going to split apart”
 
>>> words2 = words.split(“ “)
 
>>> words2