## Extract column titles from JSON files for Data Dictionnary
Information needed to define intents in bot

In [207]:
# import libraries
import pandas as pd
import json
from pandas.io.json import json_normalize

### Conseil d'Etat

In [190]:
# import files
df_CE_infosCandidat = pd.read_json('./DATA_format_JSON/CE/datas/2351/CE_infosCandidat.json')
df_CE_infosCandidat.head()

,fonction,id,liste,nom,photoUrl,sexe
0,Conseiller-ère d'Etat,20001,"{'id': 203, 'noDepot': 3}",WENGER Saliha (Salika),WENGER_Saliha.jpg,1
1,Conseiller-ère d'Etat,20002,"{'id': 203, 'noDepot': 3}",HALLER Jocelyne,HALLER_Jocelyne.jpg,1
2,Conseiller-ère d'Etat,20003,"{'id': 201, 'noDepot': 1}",EMERY-TORRACINTA Anne,EMERY-TORRACINTA_Anne.jpg,1
3,Conseiller-ère d'Etat,20004,"{'id': 201, 'noDepot': 1}",APOTHÉLOZ Thierry,APOTHELOZ_Thierry.jpg,0
4,Conseiller-ère d'Etat,20005,"{'id': 201, 'noDepot': 1}",SALERNO Sandrine,SALERNO_Sandrine.jpg,1

In [191]:
# flatten a nested part of nested json
df_CE_infosCandidat_liste = json_normalize(df_CE_infosCandidat['liste'])
print(df_CE_infosCandidat_liste.to_dict(orient='records')[0])

{'liste': {'id': 203, 'noDepot': 3}}

In [192]:
# import files
df_CE_infosListes = pd.read_json('./DATA_format_JSON/CE/datas/2351/CE_infosListes.json')
df_CE_infosListes.head()

    id  noDepot                  nom                         nomComplet sigle
0  201        1      LES SOCIALISTES                    LES SOCIALISTES   SOC
1  202        2            LES VERTS                          LES VERTS  VERT
2  203        3    ENSEMBLE À GAUCHE                  ENSEMBLE À GAUCHE   EAG
3  204        4                  MCG  MCG - MOUVEMENT CITOYENS GENEVOIS   MCG
4  205        5  PLR - PDC - ENTENTE                PLR - PDC - ENTENTE   ENT

In [193]:
# import nested json files
# flatten nested json
with open('./DATA_format_JSON/CE/datas/2351/CE_Resultats_Candidat_20001.json') as f:
    d = json.load(f)
    
df_CE_Resultats_Candidat_20001 = json_normalize(d)
df_CE_Resultats_Candidat_20001.head()

,candidat.id,candidat.liste.id,candidat.liste.noDepot,etatAvancement,resultatsCandidatCanton.canton.id,resultatsCandidatCanton.canton.nom,resultatsCandidatCanton.egalite,resultatsCandidatCanton.elu,resultatsCandidatCanton.ordre,resultatsCandidatCanton.suffrages,resultatsCandidatParCommune
0,20001,203,3,Résultats définitifs du 26.02.18 à 15:32,0,Canton de Genève,False,0,21,568,"[{'commune': {'id': 1, 'nom': 'Aire-la-Ville'}..."

In [194]:
# flatten a nested part of nested json
df_CE_Resultats_Candidat_20001_resultatsCandidatParCommune = json_normalize(d['resultatsCandidatParCommune'])
df_CE_Resultats_Candidat_20001_resultatsCandidatParCommune.head()

   commune.id    commune.nom resultatParLocaux  suffrages
0           1  Aire-la-Ville                []          8
1           2        Anières                []         10
2           3         Avully                []         12
3           4          Avusy                []          8
4           5      Bardonnex                []          7

In [195]:
# check aggregation
df_CE_Resultats_Candidat_20001_resultatsCandidatParCommune['suffrages'].sum()

568

In [196]:
# import nested json files
with open('./DATA_format_JSON/CE/datas/2351/CE_Resultats_Canton.json') as f:
    d = json.load(f)
    
df_CE_Resultats_Canton = json_normalize(d)
df_CE_Resultats_Canton.head()

,canton.id,canton.nom,informationsGenerales.bulletinsBlancs,informationsGenerales.bulletinsNuls,informationsGenerales.bulletinsRentres,informationsGenerales.bulletinsValables,informationsGenerales.cartesRecues,informationsGenerales.electeursInscrits,informationsGenerales.etatAvancement.etat,informationsGenerales.etatAvancement.texte,informationsGenerales.majoriteAbsolue,informationsGenerales.nbSiege,informationsGenerales.participation,resultatsNominatifs
0,0,Canton de Genève,175,0,8184,8184,8184,262536,8,Résultats définitifs du 26.02.18 à 15:32,4093,7,3.12,"[{'candidat': {'id': 20012, 'liste': {'id': 20..."

In [197]:
# flatten a nested part of nested json
df_CE_Resultats_Canton_resultatsNominatifs = json_normalize(d['resultatsNominatifs'])
df_CE_Resultats_Canton_resultatsNominatifs.head()

,candidat.id,candidat.liste.id,candidat.liste.noDepot,egalite,elu,ordre,suffrages
0,20012,205,5,False,0,1,1151
1,20015,205,5,False,0,2,973
2,20016,205,5,False,0,3,903
3,20013,205,5,False,0,4,896
4,20014,205,5,False,0,5,892

In [198]:
# import files
df_CE_Resultats_CartesSuffragesCandidat = pd.read_json('./DATA_format_JSON/CE/datas/2351/CE_Resultats_CartesSuffragesCandidat.json')
df_CE_Resultats_CartesSuffragesCandidat.head()

,candidat,carteSuffrageCandidat,pourcentSuffrageCantonal
0,"{'id': 20012, 'liste': {'id': 205, 'noDepot': 5}}","[{'local': {'id': 100, 'nom': 'Aire-la-Ville'}...",0.05625
1,"{'id': 20015, 'liste': {'id': 205, 'noDepot': 5}}","[{'local': {'id': 100, 'nom': 'Aire-la-Ville'}...",0.04755
2,"{'id': 20016, 'liste': {'id': 205, 'noDepot': 5}}","[{'local': {'id': 100, 'nom': 'Aire-la-Ville'}...",0.04413
3,"{'id': 20013, 'liste': {'id': 205, 'noDepot': 5}}","[{'local': {'id': 100, 'nom': 'Aire-la-Ville'}...",0.04379
4,"{'id': 20014, 'liste': {'id': 205, 'noDepot': 5}}","[{'local': {'id': 100, 'nom': 'Aire-la-Ville'}...",0.04360

In [199]:
# flatten a nested part of nested json
df_CE_Resultats_CartesSuffragesCandidat_candidat = json_normalize(df_CE_Resultats_CartesSuffragesCandidat['candidat'])
df_CE_Resultats_CartesSuffragesCandidat_candidat.head()

      id  liste.id  liste.noDepot
0  20012       205              5
1  20015       205              5
2  20016       205              5
3  20013       205              5
4  20014       205              5

In [200]:
# flatten a nested part of nested json
df_CE_Resultats_CartesSuffragesCandidat_carteSuffrageCandidat = df_CE_Resultats_CartesSuffragesCandidat['carteSuffrageCandidat']
df_CE_Resultats_CartesSuffragesCandidat_carteSuffrageCandidat[0]

[{'deltaMoyenneCantonaleSuffrageCandidat': 101.76,
  'local': {'id': 100, 'nom': 'Aire-la-Ville'},
  'pourcentSuffrageCandidat': 0.057240000000000006},
 {'deltaMoyenneCantonaleSuffrageCandidat': 93.9,
  'local': {'id': 200, 'nom': 'Anières'},
  'pourcentSuffrageCandidat': 0.052820000000000006},
 {'deltaMoyenneCantonaleSuffrageCandidat': 92.66,
  'local': {'id': 300, 'nom': 'Avully'},
  'pourcentSuffrageCandidat': 0.05212000000000001},
 {'deltaMoyenneCantonaleSuffrageCandidat': 97.49,
  'local': {'id': 400, 'nom': 'Avusy'},
  'pourcentSuffrageCandidat': 0.05484000000000001},
 {'deltaMoyenneCantonaleSuffrageCandidat': 93.0,
  'local': {'id': 500, 'nom': 'Bardonnex'},
  'pourcentSuffrageCandidat': 0.05231},
 {'deltaMoyenneCantonaleSuffrageCandidat': 119.79,
  'local': {'id': 600, 'nom': 'Bellevue'},
  'pourcentSuffrageCandidat': 0.06738000000000001},
 {'deltaMoyenneCantonaleSuffrageCandidat': 95.04,
  'local': {'id': 700, 'nom': 'Bernex'},
  'pourcentSuffrageCandidat': 0.05346000000000001},
 {'deltaMoyenneCantonaleSuffrageCandidat': 122.4,
  'local': {'id': 800, 'nom': 'Carouge'},
  'pourcentSuffrageCandidat': 0.06885000000000001},
 {'deltaMoyenneCantonaleSuffrageCandidat': 119.61,
  'local': {'id': 900, 'nom': 'Cartigny'},
  'pourcentSuffrageCandidat': 0.06728},
 {'deltaMoyenneCantonaleSuffrageCandidat': 111.11,
  'local': {'id': 1000, 'nom': 'Céligny'},
  'pourcentSuffrageCandidat': 0.0625},
 {'deltaMoyenneCantonaleSuffrageCandidat': 80.57,
  'local': {'id': 1100, 'nom': 'Chancy'},
  'pourcentSuffrageCandidat': 0.045320000000000006},
 {'deltaMoyenneCantonaleSuffrageCandidat': 102.56,
  'local': {'id': 1201, 'nom': 'Chêne-Bougeries-Centre'},
  'pourcentSuffrageCandidat': 0.057690000000000005},
 {'deltaMoyenneCantonaleSuffrageCandidat': 96.84,
  'local': {'id': 1202, 'nom': 'Conches'},
  'pourcentSuffrageCandidat': 0.054470000000000005},
 {'deltaMoyenneCantonaleSuffrageCandidat': 83.34,
  'local': {'id': 1300, 'nom': 'Chêne-Bourg'},
  'pourcentSuffrageCandidat': 0.046880000000000005},
 {'deltaMoyenneCantonaleSuffrageCandidat': 107.75,
  'local': {'id': 1400, 'nom': 'Choulex'},
  'pourcentSuffrageCandidat': 0.060610000000000004},
 {'deltaMoyenneCantonaleSuffrageCandidat': 100.16,
  'local': {'id': 1500, 'nom': 'Collex-Bossy'},
  'pourcentSuffrageCandidat': 0.05634},
 {'deltaMoyenneCantonaleSuffrageCandidat': 106.04,
  'local': {'id': 1600, 'nom': 'Collonge-Bellerive'},
  'pourcentSuffrageCandidat': 0.05965},
 {'deltaMoyenneCantonaleSuffrageCandidat': 87.15,
  'local': {'id': 1700, 'nom': 'Cologny'},
  'pourcentSuffrageCandidat': 0.04902},
 {'deltaMoyenneCantonaleSuffrageCandidat': 97.17,
  'local': {'id': 1800, 'nom': 'Confignon'},
  'pourcentSuffrageCandidat': 0.05466000000000001},
 {'deltaMoyenneCantonaleSuffrageCandidat': 110.08,
  'local': {'id': 1900, 'nom': 'Corsier'},
  'pourcentSuffrageCandidat': 0.06192},
 {'deltaMoyenneCantonaleSuffrageCandidat': 87.43,
  'local': {'id': 2000, 'nom': 'Dardagny'},
  'pourcentSuffrageCandidat': 0.04918},
 {'deltaMoyenneCantonaleSuffrageCandidat': 91.84,
  'local': {'id': 2101, 'nom': 'Cité - Rive'},
  'pourcentSuffrageCandidat': 0.051660000000000005},
 {'deltaMoyenneCantonaleSuffrageCandidat': 112.68,
  'local': {'id': 2102, 'nom': 'Pâquis'},
  'pourcentSuffrageCandidat': 0.06338},
 {'deltaMoyenneCantonaleSuffrageCandidat': 84.66,
  'local': {'id': 2103, 'nom': 'Saint-Gervais'},
  'pourcentSuffrageCandidat': 0.04762},
 {'deltaMoyenneCantonaleSuffrageCandidat': 111.11,
  'local': {'id': 2104, 'nom': 'Prairie-Délices'},
  'pourcentSuffrageCandidat': 0.0625},
 {'deltaMoyenneCantonaleSuffrageCandidat': 89.42,
  'local': {'id': 2105, 'nom': 'Eaux-Vives - Lac'},
  'pourcentSuffrageCandidat': 0.050300000000000004},
 {'deltaMoyenneCantonaleSuffrageCandidat': 106.24,
  'local': {'id': 2106, 'nom': 'Eaux-Vives - Frontenex'},
  'pourcentSuffrageCandidat': 0.05976000000000001},
 {'deltaMoyenneCantonaleSuffrageCandidat': 101.01,
  'local': {'id': 2107, 'nom': 'Florissant - Malagnou'},
  'pourcentSuffrageCandidat': 0.05682},
 {'deltaMoyenneCantonaleSuffrageCandidat': 107.24,
  'local': {'id': 2108, 'nom': 'Cluse - Roseraie'},
  'pourcentSuffrageCandidat': 0.060320000000000006},
 {'deltaMoyenneCantonaleSuffrageCandidat': 104.25,
  'local': {'id': 2109, 'nom': 'Acacias'},
  'pourcentSuffrageCandidat': 0.058640000000000005},
 {'deltaMoyenneCantonaleSuffrageCandidat': 96.98,
  'local': {'id': 2110, 'nom': 'Mail - Jonction'},
  'pourcentSuffrageCandidat': 0.05455},
 {'deltaMoyenneCantonaleSuffrageCandidat': 97.08,
  'local': {'id': 2111, 'nom': 'Servette - Grand-Pré'},
  'pourcentSuffrageCandidat': 0.054610000000000006},
 {'deltaMoyenneCantonaleSuffrageCandidat': 82.24,
  'local': {'id': 2112, 'nom': 'Prieuré - Sécheron'},
  'pourcentSuffrageCandidat': 0.04626},
 {'deltaMoyenneCantonaleSuffrageCandidat': 99.08,
  'local': {'id': 2113, 'nom': 'Saint-Jean'},
  'pourcentSuffrageCandidat': 0.05573},
 {'deltaMoyenneCantonaleSuffrageCandidat': 116.66,
  'local': {'id': 2114, 'nom': 'Les Crêts'},
  'pourcentSuffrageCandidat': 0.06562000000000001},
 {'deltaMoyenneCantonaleSuffrageCandidat': 97.9,
  'local': {'id': 2115, 'nom': 'Cropettes - Vidollet'},
  'pourcentSuffrageCandidat': 0.05507000000000001},
 {'deltaMoyenneCantonaleSuffrageCandidat': 99.75,
  'local': {'id': 2116, 'nom': 'Vieusseux'},
  'pourcentSuffrageCandidat': 0.05611000000000001},
 {'deltaMoyenneCantonaleSuffrageCandidat': 111.11,
  'local': {'id': 2117, 'nom': 'Champel'},
  'pourcentSuffrageCandidat': 0.0625},
 {'deltaMoyenneCantonaleSuffrageCandidat': 87.15,
  'local': {'id': 2200, 'nom': 'Genthod'},
  'pourcentSuffrageCandidat': 0.04902},
 {'deltaMoyenneCantonaleSuffrageCandidat': 90.6,
  'local': {'id': 2300, 'nom': 'Grand-Saconnex'},
  'pourcentSuffrageCandidat': 0.050960000000000005},
 {'deltaMoyenneCantonaleSuffrageCandidat': 96.27,
  'local': {'id': 2400, 'nom': 'Gy'},
  'pourcentSuffrageCandidat': 0.054150000000000004},
 {'deltaMoyenneCantonaleSuffrageCandidat': 91.75,
  'local': {'id': 2500, 'nom': 'Hermance'},
  'pourcentSuffrageCandidat': 0.05161},
 {'deltaMoyenneCantonaleSuffrageCandidat': 102.99,
  'local': {'id': 2600, 'nom': 'Jussy'},
  'pourcentSuffrageCandidat': 0.05793},
 {'deltaMoyenneCantonaleSuffrageCandidat': 81.3,
  'local': {'id': 2700, 'nom': 'Laconnex'},
  'pourcentSuffrageCandidat': 0.04573000000000001},
 {'deltaMoyenneCantonaleSuffrageCandidat': 93.56,
  'local': {'id': 2801, 'nom': 'Grand-Lancy'},
  'pourcentSuffrageCandidat': 0.05263},
 {'deltaMoyenneCantonaleSuffrageCandidat': 76.41,
  'local': {'id': 2802, 'nom': 'Petit-Lancy'},
  'pourcentSuffrageCandidat': 0.042980000000000004},
 {'deltaMoyenneCantonaleSuffrageCandidat': 88.59,
  'local': {'id': 2900, 'nom': 'Meinier'},
  'pourcentSuffrageCandidat': 0.049830000000000006},
 {'deltaMoyenneCantonaleSuffrageCandidat': 89.49,
  'local': {'id': 3000, 'nom': 'Meyrin'},
  'pourcentSuffrageCandidat': 0.05034},
 {'deltaMoyenneCantonaleSuffrageCandidat': 122.22,
  'local': {'id': 3100, 'nom': 'Onex'},
  'pourcentSuffrageCandidat': 0.06875},
 {'deltaMoyenneCantonaleSuffrageCandidat': 124.16,
  'local': {'id': 3200, 'nom': 'Perly-Certoux'},
  'pourcentSuffrageCandidat': 0.06984},
 {'deltaMoyenneCantonaleSuffrageCandidat': 97.49,
  'local': {'id': 3300, 'nom': 'Plan-les-Ouates'},
  'pourcentSuffrageCandidat': 0.05484000000000001},
 {'deltaMoyenneCantonaleSuffrageCandidat': 109.21,
  'local': {'id': 3400, 'nom': 'Pregny-Chambésy'},
  'pourcentSuffrageCandidat': 0.061430000000000005},
 {'deltaMoyenneCantonaleSuffrageCandidat': 93.83,
  'local': {'id': 3500, 'nom': 'Presinge'},
  'pourcentSuffrageCandidat': 0.05278000000000001},
 {'deltaMoyenneCantonaleSuffrageCandidat': 109.67,
  'local': {'id': 3600, 'nom': 'Puplinge'},
  'pourcentSuffrageCandidat': 0.06169},
 {'deltaMoyenneCantonaleSuffrageCandidat': 87.64,
  'local': {'id': 3700, 'nom': 'Russin'},
  'pourcentSuffrageCandidat': 0.049300000000000004},
 {'deltaMoyenneCantonaleSuffrageCandidat': 101.23,
  'local': {'id': 3800, 'nom': 'Satigny'},
  'pourcentSuffrageCandidat': 0.056940000000000004},
 {'deltaMoyenneCantonaleSuffrageCandidat': 120.53,
  'local': {'id': 3900, 'nom': 'Soral'},
  'pourcentSuffrageCandidat': 0.0678},
 {'deltaMoyenneCantonaleSuffrageCandidat': 97.81,
  'local': {'id': 4000, 'nom': 'Thônex'},
  'pourcentSuffrageCandidat': 0.055020000000000006},
 {'deltaMoyenneCantonaleSuffrageCandidat': 115.11,
  'local': {'id': 4100, 'nom': 'Troinex'},
  'pourcentSuffrageCandidat': 0.06475},
 {'deltaMoyenneCantonaleSuffrageCandidat': 108.48,
  'local': {'id': 4200, 'nom': 'Vandoeuvres'},
  'pourcentSuffrageCandidat': 0.061020000000000005},
 {'deltaMoyenneCantonaleSuffrageCandidat': 90.6,
  'local': {'id': 4301, 'nom': 'Vernier village'},
  'pourcentSuffrageCandidat': 0.050960000000000005},
 {'deltaMoyenneCantonaleSuffrageCandidat': 90.4,
  'local': {'id': 4302, 'nom': 'Châtelaine'},
  'pourcentSuffrageCandidat': 0.050850000000000006},
 {'deltaMoyenneCantonaleSuffrageCandidat': 112.78,
  'local': {'id': 4303, 'nom': 'Aïre-Le Lignon'},
  'pourcentSuffrageCandidat': 0.06344000000000001},
 {'deltaMoyenneCantonaleSuffrageCandidat': 88.07,
  'local': {'id': 4304, 'nom': 'Les Avanchets'},
  'pourcentSuffrageCandidat': 0.04954},
 {'deltaMoyenneCantonaleSuffrageCandidat': 98.12,
  'local': {'id': 4400, 'nom': 'Versoix'},
  'pourcentSuffrageCandidat': 0.05519},
 {'deltaMoyenneCantonaleSuffrageCandidat': 99.13,
  'local': {'id': 4500, 'nom': 'Veyrier'},
  'pourcentSuffrageCandidat': 0.055760000000000004},
 {'deltaMoyenneCantonaleSuffrageCandidat': 120.71,
  'local': {'id': 4600, 'nom': "Suisses de l'étranger"},
  'pourcentSuffrageCandidat': 0.0679}]

In [201]:
# import files
with open('./DATA_format_JSON/CE/datas/2351/CE_Resultats_Commune_0100.json') as f:
    d = json.load(f)
    
df_CE_Resultats_Commune_0100 = json_normalize(d)
df_CE_Resultats_Commune_0100.head()

,commune.id,commune.nom,informationsGenerales.bulletinsBlancs,informationsGenerales.bulletinsNuls,informationsGenerales.bulletinsRentres,informationsGenerales.bulletinsValables,informationsGenerales.cartesRecues,informationsGenerales.electeursInscrits,informationsGenerales.etatAvancement.etat,informationsGenerales.etatAvancement.texte,informationsGenerales.majoriteAbsolue,informationsGenerales.nbSiege,informationsGenerales.participation,resultatsNominatifs,resultatsParLocaux
0,1,Aire-la-Ville,3,0,120,120,120,726,8,Résultats définitifs du 26.02.18 à 15:32,0,7,16.53,"[{'candidat': {'id': 20012, 'liste': {'id': 20...",None

In [202]:
# flatten a nested part of nested json
df_CE_Resultats_Commune_0100_resultatsNominatifs = json_normalize(d['resultatsNominatifs'])
df_CE_Resultats_Commune_0100_resultatsNominatifs.head()

,candidat.id,candidat.liste.id,candidat.liste.noDepot,egalite,elu,ordre,suffrages
0,20012,205,5,False,0,1,17
1,20015,205,5,False,0,2,15
2,20014,205,5,False,0,3,14
3,20016,205,5,False,0,3,14
4,20020,208,8,False,0,5,13

In [203]:
# import files
df_CE_Resultats_InfoAvancement = pd.read_json('./DATA_format_JSON/CE/datas/2351/CE_Resultats_InfoAvancement.json')
df_CE_Resultats_InfoAvancement.head()

,Avancement,Local
0,"{'etat': 8, 'texte': 'Résultats définitifs du ...","{'id': 100, 'nom': 'Aire-la-Ville'}"
1,"{'etat': 8, 'texte': 'Résultats définitifs du ...","{'id': 200, 'nom': 'Anières'}"
2,"{'etat': 8, 'texte': 'Résultats définitifs du ...","{'id': 300, 'nom': 'Avully'}"
3,"{'etat': 8, 'texte': 'Résultats définitifs du ...","{'id': 400, 'nom': 'Avusy'}"
4,"{'etat': 8, 'texte': 'Résultats définitifs du ...","{'id': 500, 'nom': 'Bardonnex'}"

In [204]:
# unstack a nested part of nested json
df_CE_Resultats_Commune_0100_resultatsNominatifs_Avancement = json_normalize(df_CE_Resultats_InfoAvancement['Avancement']).unstack()
df_CE_Resultats_Commune_0100_resultatsNominatifs_Avancement.head()

Avancement  0    {'etat': 8, 'texte': 'Résultats définitifs du ...
            1    {'etat': 8, 'texte': 'Résultats définitifs du ...
            2    {'etat': 8, 'texte': 'Résultats définitifs du ...
            3    {'etat': 8, 'texte': 'Résultats définitifs du ...
            4    {'etat': 8, 'texte': 'Résultats définitifs du ...
dtype: object

In [205]:
# unstack a nested part of nested json
df_CE_Resultats_Commune_0100_resultatsNominatifs_Local = json_normalize(df_CE_Resultats_InfoAvancement['Local']).unstack()
df_CE_Resultats_Commune_0100_resultatsNominatifs_Local.head()

Local  0    {'id': 100, 'nom': 'Aire-la-Ville'}
       1          {'id': 200, 'nom': 'Anières'}
       2           {'id': 300, 'nom': 'Avully'}
       3            {'id': 400, 'nom': 'Avusy'}
       4        {'id': 500, 'nom': 'Bardonnex'}
dtype: object

In [206]:
# import files
#df_gevi_param = pd.read_json('./DATA_format_JSON/CE/datas/gevi_param.json')
#df_gevi_param.head()

with open('./DATA_format_JSON/CE/datas/gevi_param.json') as f:
    d = json.load(f)
    
df_gevi_param = json_normalize(d)
df_gevi_param.head()

   displayResults  etape  noLot
0            True      8   2351

### Grand Conseil

In [225]:
# import files
df_GC_infosCandidat = pd.read_json('./DATA_format_JSON/GC/datas/2353/GC_infosCandidat.json')
df_GC_infosCandidat.head()

,fonction,id,liste,nom,photoUrl,sexe
0,Député-e,10001,"{'id': 101, 'noDepot': 1}",PAGANI Rémy,PAGANI_Remy.jpg,0
1,Député-e,10002,"{'id': 101, 'noDepot': 1}",WENGER Saliha (Salika),WENGER_Saliha.jpg,1
2,Député-e,10003,"{'id': 101, 'noDepot': 1}",ZAUGG Christian,ZAUGG_Christian.jpg,0
3,Député-e,10004,"{'id': 101, 'noDepot': 1}",HALLER Jocelyne,HALLER_Jocelyne.jpg,1
4,Député-e,10005,"{'id': 103, 'noDepot': 3}",EMERY-TORRACINTA Anne,EMERY-TORRACINTA_Anne.jpg,1

In [226]:
# import files
df_GC_infosListes = pd.read_json('./DATA_format_JSON/GC/datas/2353/GC_infosListes.json')
df_GC_infosListes.head()

    id  noDepot                 nom                         nomComplet sigle
0  101        1   ENSEMBLE À GAUCHE                  ENSEMBLE À GAUCHE   EAG
1  102        2           LES VERTS                          LES VERTS  VERT
2  103        3     LES SOCIALISTES                    LES SOCIALISTES   SOC
3  104        4   LIBÉRAUX-RADICAUX  PLR. LES LIBÉRAUX-RADICAUX GENÈVE   PLR
4  105        5  DÉMOCRATE-CHRÉTIEN     PARTI DÉMOCRATE-CHRÉTIEN (PDC)   PDC

In [228]:
# import files
with open('./DATA_format_JSON/GC/datas/2353/GC_Resultats_Candidat_10001.json') as f:
    d = json.load(f)
    
df_GC_Resultats_Candidat_10001 = json_normalize(d)
df_GC_Resultats_Candidat_10001.head()

,candidat.id,candidat.liste.id,candidat.liste.noDepot,etatAvancement,resultatsCandidatCanton.biffes,resultatsCandidatCanton.canton.id,resultatsCandidatCanton.canton.nom,resultatsCandidatCanton.compacts,resultatsCandidatCanton.egalite,resultatsCandidatCanton.elu,resultatsCandidatCanton.ordre,resultatsCandidatCanton.resultatParLocaux,resultatsCandidatCanton.snl,resultatsCandidatCanton.suffrageModifies,resultatsCandidatCanton.suffrages,resultatsCandidatParCommune
0,10001,101,1,Résultats définitifs du 28.02.18 à 9:34,4,0,Canton de Genève,36,False,0,26,None,0,"[{'liste': {'id': 101, 'noDepot': 1}, 'suffrag...",109,"[{'commune': {'id': 1, 'nom': 'Aire-la-Ville'}..."

In [232]:
# unstack a nested part of nested json
df_GC_Resultats_Candidat_10001_suffrages = json_normalize(df_GC_Resultats_Candidat_10001['resultatsCandidatCanton.suffrageModifies']).unstack()
df_GC_Resultats_Candidat_10001_suffrages.head()

AttributeError: 'list' object has no attribute 'values'

In [214]:
# import files
#df_GC_Resultats_Canton = pd.read_json('./DATA_format_JSON/GC/datas/2353/GC_Resultats_Canton.json')
#df_GC_Resultats_Canton.head()

In [216]:
# import files
df_GC_Resultats_CartesSuffragesListe = pd.read_json('./DATA_format_JSON/GC/datas/2353/GC_Resultats_CartesSuffragesListe.json')
df_GC_Resultats_CartesSuffragesListe.head()

,carteSuffrageListe,liste,pourcentSuffrageCantonal
0,"[{'local': {'id': 100, 'nom': 'Aire-la-Ville'}...","{'id': 101, 'noDepot': 1}",6.60
1,"[{'local': {'id': 100, 'nom': 'Aire-la-Ville'}...","{'id': 102, 'noDepot': 2}",8.18
2,"[{'local': {'id': 100, 'nom': 'Aire-la-Ville'}...","{'id': 103, 'noDepot': 3}",8.29
3,"[{'local': {'id': 100, 'nom': 'Aire-la-Ville'}...","{'id': 104, 'noDepot': 4}",8.77
4,"[{'local': {'id': 100, 'nom': 'Aire-la-Ville'}...","{'id': 105, 'noDepot': 5}",8.20

In [219]:
# import files
#df_GC_Resultats_Commune_0100 = pd.read_json('./DATA_format_JSON/GC/datas/2353/GC_Resultats_Commune_0100.json')
#df_GC_Resultats_Commune_0100.head()

In [221]:
# import files
df_GC_Resultats_InfoAvancement = pd.read_json('./DATA_format_JSON/GC/datas/2353/GC_Resultats_InfoAvancement.json')
df_GC_Resultats_InfoAvancement.head()

,Avancement,Local
0,"{'etat': 8, 'texte': 'Résultats définitifs du ...","{'id': 100, 'nom': 'Aire-la-Ville'}"
1,"{'etat': 8, 'texte': 'Résultats définitifs du ...","{'id': 200, 'nom': 'Anières'}"
2,"{'etat': 8, 'texte': 'Résultats définitifs du ...","{'id': 300, 'nom': 'Avully'}"
3,"{'etat': 8, 'texte': 'Résultats définitifs du ...","{'id': 400, 'nom': 'Avusy'}"
4,"{'etat': 8, 'texte': 'Résultats définitifs du ...","{'id': 500, 'nom': 'Bardonnex'}"

In [224]:
# import files
#df_gevi_param = pd.read_json('./DATA_format_JSON/GC/datas/gevi_param.json')
#df_gevi_param.head()