## Liste de locaux et communes
Données tirées du [site de l'Etat de Genève](https://www.ge.ch/votations/20180304/federal/)

In [244]:
# imports
import pandas as pd
df_raw = pd.read_csv('./DATA_format_JSON/listeLocaux.csv', delimiter=';')
df_raw.tail()

,commune_no,local_no,local-commune_nom,electorat,cartes-de-vote,bulletins,nuls,q1_blancs,q1_blancs_pc,q1_valables,...,q1_non_pc,q1_participation,q2_blancs,q2_blancs_pc,q2_valables,q2_oui,q2_oui_pc,q2_non,q2_non_pc,q2_participation
63,43,4,Les Avanchets,3'042,1'436,1'436,0,64,4.46%,1'372,...,17.64%,47.21%,8,0.56%,1'428,602,42.16%,826,57.84%,47.21%
64,44,1,Versoix,6'084,3'143,3'142,1,140,4.46%,3'001,...,12.43%,51.66%,18,0.57%,3'123,855,27.38%,2'268,72.62%,51.66%
65,45,1,Veyrier,6'616,4'106,4'105,1,173,4.22%,3'931,...,9.69%,62.06%,25,0.61%,4'079,701,17.19%,3'378,82.81%,62.06%
66,46,1,Suisses de l'Étranger,25'756,10'063,10'063,1,247,2.45%,9'815,...,8.29%,39.07%,80,0.80%,9'982,1'722,17.25%,8'260,82.75%,39.07%
67,0,0,TOTAL CANTON,261'541,140'313,140'285,22,6'823,4.86%,133'440,...,12.98%,53.65%,1'132,0.81%,139'131,35'057,25.20%,104'074,74.80%,53.65%

In [245]:
#df.info();

In [246]:
# create new df and drop unnecessary columns
df_edt = df_raw.drop(['electorat', 'cartes-de-vote', 'bulletins','nuls','q1_blancs','q1_blancs_pc'
                      ,'q1_valables','q1_oui','q1_oui_pc','q1_non','q1_non_pc','q1_participation'
                      ,'q2_blancs','q2_blancs_pc','q2_valables','q2_oui','q2_oui_pc','q2_non','q2_non_pc'
                      ,'q2_participation'], axis=1)
df_edt.reset_index(drop=True, inplace=True)
df_edt.head()

   commune_no  local_no local-commune_nom
0           1         1     Aire-la-Ville
1           2         1           Anières
2           3         1            Avully
3           4         1             Avusy
4           5         1         Bardonnex

In [247]:
# remove accents and spec chars from local-commune_nom
# remove accents from local-commune_nom
df_edt['local-commune_nom'] = df_edt['local-commune_nom'].str.lower()
df_edt['local-commune_nom'].replace(regex=True,inplace=True,to_replace='à',value='a')
df_edt['local-commune_nom'].replace(regex=True,inplace=True,to_replace='â',value='a')
df_edt['local-commune_nom'].replace(regex=True,inplace=True,to_replace='ä',value='a')
df_edt['local-commune_nom'].replace(regex=True,inplace=True,to_replace='é',value='e')
df_edt['local-commune_nom'].replace(regex=True,inplace=True,to_replace='è',value='e')
df_edt['local-commune_nom'].replace(regex=True,inplace=True,to_replace='ê',value='e')
df_edt['local-commune_nom'].replace(regex=True,inplace=True,to_replace='ï',value='i')
df_edt['local-commune_nom'].replace(regex=True,inplace=True,to_replace='ö',value='o')
df_edt['local-commune_nom'].replace(regex=True,inplace=True,to_replace='ô',value='o')
df_edt['local-commune_nom'].replace(regex=True,inplace=True,to_replace='ù',value='u')
df_edt['local-commune_nom'].replace(regex=True,inplace=True,to_replace='ü',value='u')
# remove spec chars from local-commune_nom
df_edt['local-commune_nom'].replace(regex=True,inplace=True,to_replace=" - ",value='_')
df_edt['local-commune_nom'].replace(regex=True,inplace=True,to_replace="-",value='_')
df_edt['local-commune_nom'].replace(regex=True,inplace=True,to_replace="'",value='_')
df_edt['local-commune_nom'].replace(regex=True,inplace=True,to_replace="   ",value='_')
df_edt['local-commune_nom'].replace(regex=True,inplace=True,to_replace=" ",value='_')
df_edt.head()

   commune_no  local_no local-commune_nom
0           1         1     aire_la_ville
1           2         1           anieres
2           3         1            avully
3           4         1             avusy
4           5         1         bardonnex

In [252]:
# create local entity
df_local = df_edt
# create entity column
df_local['entity'] = 'local'
# create value colum
df_local.rename(index=str, columns={"local-commune_nom": "value"}, inplace=True)
# create synonyms column
df_local['synonyms'] = df_local['value'] + ":" + str(df_local['local_no'])
df_local.head()

,commune_no,local_no,value,entity,synonyms
0,1,1,aire_la_ville,local,aire_la_ville:0 1\n1 1\n2 1\n3 ...
1,2,1,anieres,local,anieres:0 1\n1 1\n2 1\n3 1\n4 ...
2,3,1,avully,local,avully:0 1\n1 1\n2 1\n3 1\n4 ...
3,4,1,avusy,local,avusy:0 1\n1 1\n2 1\n3 1\n4 ...
4,5,1,bardonnex,local,bardonnex:0 1\n1 1\n2 1\n3 1\n...

In [243]:



# clean up synonyms column
df_edt['synonyms'].replace(regex=True,inplace=True,to_replace=' - ',value=':')
df_edt['synonyms'].replace(regex=True,inplace=True,to_replace='-',value=' ')
df_edt['synonyms'].replace(regex=True,inplace=True,to_replace=' ',value=':')
df_edt['synonyms'].replace(regex=True,inplace=True,to_replace=':::',value=':')
df_edt['synonyms'].replace(regex=True,inplace=True,to_replace='_',value=':')
# drop local_no
df_local = df_local.drop(['local_no'], axis=1, inplace=True)
# drop commune_no
df_local = df_local.drop(['commune_no'], axis=1, inplace=True)
df_local.head()

KeyError: 'local_no'

In [222]:
# create commune entitiy
df_commune = df_edt.drop(['local_no'], axis=1)
df_commune.rename(index=str, columns={"commune_no": "value"}, inplace=True)
df_commune.head()

   value         entity       synonyms
0      1  aire_la_ville  aire:la:ville
1      2        anieres        anieres
2      3         avully         avully
3      4          avusy          avusy
4      5      bardonnex      bardonnex

In [223]:
# export to csv
df_local.to_csv('./electionBot_sBox/locals-Entities.csv',index=False)
df_commune.to_csv('./electionBot_sBox/communes-Entities.csv',index=False)